/* ******************************** General *************************** */

body
{
	background-color:#303030;
}

h3
{
	font-family: 'Courgette', cursive; 
	letter-spacing: 2px;
	color: #34a02c;
	margin-top: 0;
}

.navbar-nav>li>a
{
	font-family: 'Courgette', cursive; 
}

.subMenu
{
	font-family: 'Courgette', cursive;
	color: #34a02c;
	height: 30px;
	padding: 10px;
	margin: 0px 0px 0px 0px;
	display: block;
	text-decoration: none;
	float: left;
}

.subMenu:hover
{
	background-color: #545454;
	cursor: pointer;
}

.subMenu:active
{
	background-color: #4e634f;
}

.subMenuActive
{
	font-family: 'Courgette', cursive;
	color: #34a02c;
	height: 30px;
	padding: 10px;
	margin: 00px 10px 0px 40px;
	display: block;
	background-color: #4e634f;
}

.topbar
{
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	font-family: 'Courgette', cursive;
	color: #34a02c;
}

.links
{
	color: red;
	font-family: 'Courgette', cursive;
}

#header
{
	height: 100px;
	margin-left:20px;
	margin-right:20px;
	padding-top: 10px;
	text-align: center;
	line-height: 10px;
	border-bottom: #34a02c solid 2px;
}

h1
{
	font-family: 'Vollkorn SC', serif; 
	font-size: 40px;
	color: #34a02c;
	text-decoration: none;
}

a
{
	text-decoration: none;
}

.mainMenu
{
	font-family: 'Courgette', cursive;
	color: #34a02c;
	height: 50px;
	padding: 10px;
	margin: 00px 10px 0px 20px;
	border-top: 1px dotted #34a02c;
	display: block;
	text-decoration: none;
}

.mainMenu:first-child
{
	border-top: 0px;
}

.mainMenu:hover
{
	background-color: #545454;
	cursor: pointer;
}

.mainMenu:active
{
	background-color: #4e634f;
}

.mainMenuActive
{
	font-family: 'Courgette', cursive;
	color: #34a02c;
	height: 50px;
	padding: 10px;
	margin: 00px 10px 0px 20px;
	border-top: 1px dotted #34a02c;
	display: block;
	background-color: #4e634f;
	cursor: pointer;
}

.mainMenuActive:first-child
{
	border-top: 0px;
}







#mainPage
{
	float: left;
	margin: 20px;
	min-height: 620px;
	width: 810px;
}

/* *******************Main Page********************* */

.greetingsInfo
{
	text-align: center;
	font-family: 'Courgette', cursive;
	padding-top: 30px;
	font-size: 32px;
	color: red;
	padding-top: 50px;
}


/* *******************Logging********************* */

#loggingScreen
{
	float: left;
	margin: 20px;
	min-height: 620px;
	width: auto;
	font-family: 'Courgette', cursive;
	letter-spacing: 2px;
	color: #34a02c;
	font-size: 14px;
}

.words
{
	font-size: 20px;
}


#form1
{
	left: 200px;
	top: 100px;
	position: relative;
	float: left;
}

#form2
{
	left: 400px;
	top: 100px;
	position:relative;
	float: left;
}

#info
{
	width:100%;
	text-align: center;
	background-color: #191d21;
}

.error
{
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* *******************Terms********************* */

#terms
{
	font-size: 30px;
	left: 400px;
	top: 100px;
	position: relative;
	text-align: center;
	font-family: 'Courgette', cursive;
	letter-spacing: 2px;
	color: #34a02c;
}	

/* *******************AddExpense EditCathegory EditPayMeth********************* */

.formEdit

{
	text-align: center;
	font-family: 'Courgette', cursive;
	font-size: 32px;
	color: #34a02c;
	padding-top: 50px;
	line-height: 1.5;
}


/* *******************DelExpense********************* */

.delete,
.edit
{
	font-family: 'Courgette', cursive;
	font-size: 16px;
	color: #34a02c;
	padding-left: 30px;
}

.delete:hover,
.edit:hover
{
	cursor: pointer;
}


/* *******************Settings********************* */
.settings

{
	font-family: 'Courgette', cursive;
	font-size: 20px;
	color: #34a02c;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #34a02c;
}

.message
{
	padding-top: 10px;
	min-height: 26px;
	text-align: center;
}

/* *******************Input Types********************* */

input[type=text],
input[type=password]
{
	width: 200px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #34a02c;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
	
}

input[type=text]:focus,
input[type=password]:focus
{
	width: 220px;
	font-size: 16px;
	border: 2px solid #34a02c;
	background-color: #e9f3e9;
	color: #428c42;
}

input[type=submit],
.buttons
{
	min-width: 200px;
	background-color: #34a02c;
	font-family: 'Courgette', cursive;
	font-size: 14px;
	color: white;
	padding: 5px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	transition: transform .2s ease-in-out;
}

input[type=submit]:focus,
.buttons:focus
{
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
}

input[type=submit]:hover,
.buttons:hover
{
	background-color: #37b93d;
}

input::-webkit-input-placeholder
{
	color: #999;
}
input:focus::-webkit-input-placeholder
{
	color: #428c42;
}

input:-moz-placeholder
{
	color: #999;
}
input:focus:-moz-placeholder
{
	color: #428c42;
}

input::-moz-placeholder
{
	color: #999;
}
input:focus::-moz-placeholder
{
	color: #428c42;
}

input::-ms-input-placeholder
{
	color: #999;
}
input:focus:-ms-input-placeholder
{
	color: #428c42;
}

.styled-select
{
	padding: 5px;
	max-width: 100%;
	height: auto;
	border: 2px solid #34a02c;
	border-radius: 5px;
	background-color: #efefef;
	color: #666;
	font-size: 14px;
	line-height: 16px;
	width: 200px; 
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
	
	appearance: none; /* this is must */ 
	-webkit-appearance: none; 
	-moz-appearance: none;
	
}

.styled-select:focus
{
	width: 300px;
	font-size: 20px;
	border: 2px solid #34a02c;
	background-color: #e9f3e9;
	color: #428c42;
}









