### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule budzet-domowy index.php
RewriteRule kontroluj-swoje-wydatki Main.php
RewriteRule dodaj-przychod AddIncome.php
RewriteRule dodaj-wydatki AddExpense.php
RewriteRule edytuj-wydatki EditExpense.php
RewriteRule wyswietl-bilans DisplayBalance.php
RewriteRule wyswietl-podsumowanie DisplaySummary.php
RewriteRule ustawienia-konta Settings.php
RewriteRule wyloguj LogOut.php
RewriteRule regulamin Terms.php
RewriteRule konto-aktywowane AccountActivated.php
RewriteRule poczekaj-prosze-na-maila WaitForEmail.php
